.p1 {
    width: 200px;
    height: 200px;
    background-color: forestgreen;
}

.p2 {
    width: 200px;
    height: 200px;
    background-color: mediumpurple;
}

.p3 {
    width: 200px;
    height: 200px;
    background-color: blue;
}